/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800px] normal styles
1800px + : Big desktop

$breakpoint argument:
- phone
- tab-port
- tab-land
- big-desc

1em = 16px
*/
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translate(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveToBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}
@media (max-width: 75em) {
  body {
    padding: 0;
  }
}

@media (max-width: 75em) {
  .row {
    max-width: 50vw;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-margin-bottom-4 {
  margin-bottom: 4rem;
}

.u-margin-bottom-2 {
  margin-bottom: 2rem;
}

.u-margin-top-8 {
  margin-top: 8rem;
}

.u-flex-row {
  display: flex;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.9rem 4.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
  animation: moveToBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.btn--green::after {
  background-color: #55c57a;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #55c57a;
  padding: 0.3rem;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.74), #28b485), url("../img/hero.svg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);
  text-align: center;
}
.header__btn {
  background-color: #fff;
  color: #777;
  animation: moveToBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.header__btn::after {
  background-color: #fff;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2.2rem;
  animation-name: moveFromRight;
  animation-duration: 2s;
  margin-bottom: 5rem;
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveFromLeft;
  animation-duration: 2s;
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}

.picture {
  width: 40%;
}
.picture .composition {
  position: relative;
}
.picture .composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
  position: absolute;
  z-index: 1;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.picture .composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.picture .composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.picture .composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.picture .composition__photo:hover {
  outline: 1.5rem solid #55c57a;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.picture .composition:hover .picture .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.four-features {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 75em) {
  .four-features {
    display: block;
  }
}
.four-features .feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  width: 17%;
  height: 35rem;
}
@media (max-width: 75em) {
  .four-features .feature-box {
    width: 100%;
    height: 29rem;
    border-radius: 0;
    margin-bottom: 2rem;
  }
}
.four-features .feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}
.four-features .feature-box:hover {
  transform: translateY(-1.5rem) scale(1.3);
}
.tour-box {
  display: flex;
}
@media (max-width: 75em) {
  .tour-box {
    display: block;
  }
}
.tour-box--container {
  width: calc((100% - 12rem) / 3);
}
@media (max-width: 75em) {
  .tour-box--container {
    width: 100%;
  }
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  width: 38rem;
  margin: 0 auto;
}
@media (max-width: 75em) {
  .card {
    margin-bottom: 5rem;
  }
}
.card__side {
  background-color: green;
  color: #fff;
  height: 50rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
  z-index: 1;
}
.card__side--back {
  transform: rotateY(-180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../../img/tours/stying-on-the-rocks.jpg");
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../../img/tours/mountains-tour.jpg");
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../../img/tours/snow-tour.jpg");
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  color: black;
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-text {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.feedback {
  width: 75%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem 6rem 6rem 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  margin: 10rem auto 0;
}
.feedback__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.feedback__image {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: all 0.4s;
}
.feedback__text {
  transform: skewX(12deg);
}
.feedback__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.feedback:hover .feedback__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.feedback:hover .feedback__image {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-input {
  display: none;
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity 0.2s;
}
.form__radio-input:checked + .form__radio-label .form__radio-button:after {
  opacity: 1;
}

.booking-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.booking-popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 70%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.5s 0.2s;
}
.booking-popup__left {
  width: 33.33%;
  float: left;
  display: table-cell;
}
.booking-popup__right {
  width: 66.66%;
  float: left;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.booking-popup__img {
  display: block;
  width: 100%;
}
.booking-popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eee;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.booking-popup:target {
  opacity: 1;
  visibility: visible;
}
.booking-popup:target .booking-popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.booking-popup__close:link, .booking-popup__close:visited {
  color: #333;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}
.booking-popup__close:hover {
  color: #55c57a;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -30vh;
}
@media (max-width: 75em) {
  .section-about {
    display: flex;
    flex-direction: column;
  }
  .section-about--row {
    width: 70vw;
    align-self: center !important;
  }
}
.section-about__description {
  display: flex;
  justify-content: space-around;
}
.section-about__description .descriptions {
  width: 65rem;
}
.section-about .heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.section-about .paragraph {
  font-size: 1.6rem;
}
.section-about .paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #eee;
}
.footer__logo-box {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 8rem;
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__description {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 75%;
}
.footer__left-container, .footer__right-container {
  width: 45%;
}
.footer__navigation {
  border-top: 1px solid #f7f7f7;
  padding-top: 2rem;
  display: inline-block;
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:first-child {
  margin-left: 0 !important;
}
.footer__item:not(:last-child) {
  margin-left: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  background-color: #333;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
  font-size: 13px;
}
.footer__link:hover, .footer__link:active {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  border-top: 1px solid #f7f7f7;
  padding-top: 2rem;
  float: right;
}

.burger-menu__checkbox {
  display: none;
}
.burger-menu__btn {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.burger-menu__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.85, 0, 0.15, 1);
}
.burger-menu__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: width 0.8s, opacity 0.2s ease;
}
.burger-menu__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.burger-menu__item {
  margin: 1rem;
}
.burger-menu__link:link, .burger-menu__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.4s;
}
.burger-menu__link:hover, .burger-menu__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}
.burger-menu__checkbox:checked ~ .burger-menu__background {
  transform: scale(70);
}
.burger-menu__checkbox:checked ~ .burger-menu__nav {
  opacity: 1;
  width: 100%;
}
.burger-menu__icon {
  position: relative;
  margin-top: 3.5rem;
}
.burger-menu__icon, .burger-menu__icon::before, .burger-menu__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.burger-menu__icon::before, .burger-menu__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.burger-menu__icon::before {
  top: -0.8rem;
}
.burger-menu__icon::after {
  top: 0.8rem;
}
.burger-menu__btn:hover .burger-menu__icon::before {
  top: -1rem;
}
.burger-menu__btn:hover .burger-menu__icon::after {
  top: 1rem;
}
.burger-menu__checkbox:checked + .burger-menu__btn .burger-menu__icon {
  background-color: transparent;
}
.burger-menu__checkbox:checked + .burger-menu__btn .burger-menu__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.burger-menu__checkbox:checked + .burger-menu__btn .burger-menu__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.74), #28b485), url("../img/nature-4.svg");
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -10rem;
}
@media (max-width: 75em) {
  .section-features {
    display: flex;
    justify-content: center;
    padding: 10rem 0;
  }
}
.section-features > * {
  transform: skewY(6deg);
}

.section-tours {
  background-color: #f7f7f7;
  margin-top: -10rem;
  padding-top: 25rem;
}

.section-feedback {
  padding: 15rem 0;
  position: relative;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.book-window {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../img/book-bg.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: 0 auto;
  height: 50rem;
}
.book-window__form {
  width: 50%;
  padding: 6rem;
}

/*# sourceMappingURL=main.css.map */
