.section-about {
  background-color: $color-grey-f7;
  padding: 25rem 0;
  margin-top: -30vh;

  @include respond(tab-land){
    display: flex;
    flex-direction: column;

    &--row {
      width: 70vw;
      align-self: center !important;
      height: 61rem;
    }
  }

  &__description {
    display: flex;
    justify-content: space-around;

    @include respond(tab-land) {
      display: block;
    }

    .descriptions {
      width: 100%;
    }
  }

  .heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
  }

  .paragraph {
    font-size: $default-font-size;

    &:not(:last-child){
      margin-bottom: 3rem;
    }
  }
}

