.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.74), $color-primary-dark), url("../img/nature-4.svg");
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(6deg);
  }
}

.section-tours {
  background-color: $color-grey-f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
}
